@page
@model CongApp.Pages.Meetings.DetailsModel
@{
    Layout = "_DashboardLayout";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        Meeting <b>@Html.DisplayFor(model => model.Meeting.Week)</b>
            <a asp-page="./Edit" asp-route-id="@Model.Meeting.Id" >
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
    </div>
    <div class="card-body">
    
       
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Week)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Week)
        </dd>
       
    </dl>
        <h6>

            <b>Assignments</b>
            <a asp-page="./EditAssignments" asp-route-id="@Model.Meeting.Id">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>

        </h6>
        <table class="table table-bordered">
            <tr>
                <th>Assignment</th>
                <th>Assignee</th>
                <th>Partner</th>
                <th><a>Edit</a></th>
            </tr>
            @foreach(var assignment in Model.Meeting.Assignments){
                <tr>
                    <td>
                        <span class="icon">
                            <i class="fas fa-tasks"></i>
                        </span>@assignment.Task
                    </td>
                    <td>
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>@assignment.Assignee
                    </td>
                    <td>
                        <span class="icon">
                            <i class="fas fa-user"></i>
                        </span>@assignment.Partner
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@assignment.Id">
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </td>
                </tr>
            }
        </table>
    
    </div>
</div>