@page
@model CongApp.Pages.Admin.Meetings.EditAssignmentsModel

@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Meeting</h1>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Meeting.Week)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Meeting.Week)
        </dd>

    </dl>
    <h1>Assignments</h1>
    <a asp-page="/admin/Assignments/Assignment" class="mb-2 btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>    Add
    </a>
    <table class="table table-bordered">
        <tr>
            <th>Assignment</th>
            <th>Assignee</th>
            <th>Partner</th>
            <th><a>Edit</a></th>
        </tr>
        <tr>
            <td>Paragraph Reader</td>
            <td>Jesrael Llarves</td>
            <td></td>
            <td><a>Edit</a></td>
        </tr>
        <tr>
            <td>Microphone Servant</td>
            <td>Randy Sagum</td>
            <td>Benito Vergara Jr.</td>
            <td><a>Edit</a></td>
        </tr>
    </table>
    @*<div>
        <a asp-page="./Index">Back to List</a>
    </div>*@
</div>



